body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin:0;
	padding:0
}
fieldset, img {
	border:0
}
abbr, acronym {
	border:0;
	font-variant:normal
}
:focus {
	outline:0
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
	font-style:inherit;
	font-weight:inherit
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal
}
input, button, textarea, select, optgroup, option {
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit
}
ol, ul {
	list-style:none
}
table {
	border-collapse:collapse;
	border-spacing:0;
	font-size:inherit;
	font:100%
}
caption, th {
	text-align:left
}
sup, sub {
	font-size:100%;
	vertical-align:baseline
}
del {
	text-decoration:line-through
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:''
}
.clearfix:after {
	content:" ";
	display:block;
	height:0;
	visibility:hidden;
	clear:both
}
.fr {
	float:right
}
body {
	font:12px/1.5 Helvetica, Tahoma, Arial, sans-serif
}
select, input, button, textarea {
	font:100% Helvetica, Tahoma, Arial, sans-serif
}
pre, code, kbd, samp, tt {
	font-family:'Courier New', Courier, monospace
}
h1 {
	font-size:18px
}
h2 {
	font-size:16px
}
h3 {
	font-size:14px
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight:bold
}

.none_display{
	display:none;
}

.block_display{
	display:block;
}

.shadow_header_top, .shadow_top, .shadow_bottom {
	min-width:994px;
	height:4px;
	overflow:hidden;
	background:url(http://www.poco.cn/module_common/header_v2/header_bg.png) center -166px no-repeat #6ac334
}
.shadow_header_top {
	height:8px;
	background-position:center -178px
}
* html .shadow_header_top div {
	width:994px;
	height:inherit;
	background:inherit;
	margin:0 auto
}
.shadow_bottom {
	height:3px;
	background-position:center -172px
}
#wrapper, #header, #content, #footer {
	width:994px;
	background-color:#FFF;
	margin:0 auto
}
.col_main {
	float:left;
	width:100%;
	min-height:1px
}
.grid_c2 .main_wrap {
	margin-left:225px
}
.grid_c2 .col_sub {
	width:205px;
	margin-left:-100%
}
.grid_c2f .main_wrap {
	margin-right:225px
}
.grid_c2f .col_sub {
	width:205px;
	margin-left:-205px
}
.grid_c2_s312 .main_wrap {
	margin-left:332px
}
.grid_c2_s312 .col_sub {
	width:312px;
	margin-left:-100%
}
.grid_c2f_s312 .main_wrap {
	margin-right:332px
}
.grid_c2f_s312 .col_sub {
	width:312px;
	margin-left:-312px
}
.grid_c3_s205e280 .main_wrap {
	margin: 0 300px 0 225px;
}
.grid_c3_s205e280 .col_sub {
	width: 205px; 
	margin-left: -100%;
}
.grid_c3_s205e280 .col_extra {
	width: 280px; 
	margin-left: -280px;
}
.grid_c3f_s205e280 .main_wrap {
	margin: 0 225px 0 300px;
}
.grid_c3f_s205e280 .col_sub {
	width: 205px; 
	margin-left: -205px;
}
.grid_c3f_s205e280 .col_extra {
	width: 280px; 
	margin-left: -100%;
}

.grid_c3_s200e225 .main_wrap {
	margin: 0 245px 0 220px;
}					   

.grid_c3_s200e225 .col_sub {
	width: 200px; 
	margin-left: -100%;
}	

.grid_c3_s200e225 .col_extra {
	width: 225px; 
	margin-left: -225px;
}					   

.grid_c:after, .grid_c2_s4:after, .grid_c2_s4f:after, .grid_c2:after, .grid_c2f:after, .grid_c2_s312:after, .grid_c2f_s312:after, .grid_c3_s205e280:after, .grid_c3f_s205e280:after, .grid_c3_s200e225:after, .main_wrap:after, .col_sub:after, .col_extra:after {
	content:'\0020';
	display:block;
	height:0;
	visibility:hidden;
	clear:both
}

/*通用图片居中*/
.icon_center { text-align:center; display:table-cell; vertical-align:middle }
.icon_center a{ height: 100%; writing-mode:tb-rl; vertical-align:middle}


.i994x90 {
	width:994px;
	height:90px;
	font-size:78.57px
}
.i768x80 {
	width:768px;
	height:80px;
	font-size:69.84px
}
.i750 {
	width:750px
}
.i478x210 {
	width:478px;
	height:210px;
	font-size:183.33px
}
.i326x205 {
	width:326px;
	height:205px;
	font-size:178.965px
}
.i312x214 {
	width:312px;
	height:214px;
	font-size:186.822px
}
.i312x135 {
	width:312px;
	height:135px;
	font-size:117.855px
}
.i280x210 {
	width:280px;
	height:210px;
	font-size:183.33px
}
.i205x80 {
	width:205px;
	height:80px;
	font-size:69.84px
}
.i200x580 {
	width:200px;
	height:580px;
	font-size:506.34px
}
.i165x165 {
	width:165px;
	height:165px;
	font-size:144.045px
}
.i145x145 {
	width:145px;
	height:145px;
	font-size:126.585px
}
.i120x120 {
	width:120px;
	height:120px;
	font-size:104.76px
}
.i100x120 {
	width:100px;
	height:120px;
	font-size:104.76px
}
.i100x100 {
	width:100px;
	height:100px;
	font-size:87.3px
}
.i86x86 {
	width:86px;
	height:86px;
	font-size:75.078px
}
.i85x85 {
	width:85px;
	height:85px;
	font-size:74.205px
}
.i64x64 {
	width:64px;
	height:64px;
	font-size:55.872px
}
.i994x90 img {
	max-width:994px;
	max-height:90px
}
.i768x80 img {
	max-width:768px;
	max-height:80px
}
.i750 img {
	max-width:750px
}
.i478x210 img {
	max-width:478px;
	max-height:210px
}
.i326x205 img {
	max-width:326px;
	max-height:205px
}
.i312x214 img {
	max-width:312px;
	max-height:214px
}
.i312x135 img {
	max-width:312px;
	max-height:135px
}
.i280x210 img {
	max-width:280px;
	max-height:210px
}
.i205x80 img {
	max-width:205px;
	max-height:80px
}
.i200x580 img {
	max-width:200px;
	max-height:580px
}
.i165x165 img {
	max-width:165px;
	max-height:165px
}
.i145x145 img {
	max-width:145px;
	max-height:145px
}
.i120x120 img {
	max-width:120px;
	max-height:120px
}
.i100x120 img {
	max-width:100px;
	max-height:120px
}
.i100x100 img {
	max-width:100px;
	max-height:100px
}
.i86x86 img {
	max-width:86px;
	max-height:86px
}
.i85x85 img {
	max-width:85px;
	max-height:85px
}
.i64x64 img {
	max-width:64px;
	max-height:64px
}
.i994x90, .i768x80, .i750, .i478x210, .i326x205, .i312x214, .i312x135, .i280x210, .i205x80, .i200x580, .i165x165, .i145x145, .i120x120, .i100x120, .i100x100, .i86x86, .i85x85, .i64x64 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
 *display: block;
	overflow: hidden;
}
.i994x90 img, .i768x80 img, .i750 img, .i478x210 img, .i326x205 img, .i312x214 img, .i312x135 img, .i280x210 img, .i205x80 img, .i200x580 img, .i218x80 img, .i200x160 img, .i165x165 img, .i145x145 img, .i120x120 img, .i100x120 img, .i100x100 img, .i86x86 img, .i85x85 img, .i64x64 img {
	vertical-align:middle
}
.itop {
	vertical-align:top;
	font-size:medium
}
.itop img {
	vertical-align:top
}
#header, #header .poco_logo a, #header .mainnav li, #header .mainnav li.current_nav, #header .subnav li, #header .mylink, #header .header_search .input_text, #header .header_search .header_search_type {
	background:url(http://www.poco.cn/module_common/header_v2/header_bg.png) no-repeat
}
#header {
	height:110px;
	/*overflow:hidden;*/
	color:#4D4D4D;
	background-position:880px -187px;
	/*background-position:885px -187px;*/
	background-color:#FFF;
	margin:0 auto;
	position:relative;
	z-index:9999;
}
#header .header_top_bar {
	height:30px;
	line-height:30px;
	padding:7px 0;
}
#header .poco_logo a {
	display:block;
	width:220px;
	height:30px;
	overflow:hidden;
	float:left;
	text-indent:-9999px;
	background-position:0 3px
}
#header .header_top_nav {
	float:right;
	color:#4D4D4D
}
#header .header_login_info a.manage, #header .header_login_info a.logout {
	text-decoration:underline;
}
#header .mainnav {
	height:39px;
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	width:512px;
	/*width:576px*/
}
#header .mainnav li {
	float:left;
	width:94px;
	height:34px;
	line-height:34px;
	text-align:center;
	background-position:0 -72px;
	margin:5px 3px 0 0
}
#header .mainnav li.current_nav {
	width:120px;
	height:39px;
	line-height:39px;
	margin-top:0;
	background-position:0 -31px
}
#header .mainnav li.current_nav .channel {
	margin-left:6px;
	font-size:12px;
	font-weight:normal
}
#header .mainnav li.hour24 {
	width:70px;
	margin-top:0;
	padding-top:4px;
	background-image:none
}
#header .mainnav li.hour24 a {
	text-decoration:underline;
	color:#4D4D4D
}
#header .header_search {
	float:left;
	position:relative; 
	z-index:900;
	_display:inline;
	margin-top:5px;
}
#header .header_search .header_search_type {
	width:66px; 
	height:23px; 
	line-height:26px; 
	border:0px; 
	background-position:-954px -244px; 
	padding:3px 5px 3px 5px; 
	vertical-align:middle;
	cursor:pointer;
	color:#4D4D4D;
}
#header .subnav_bar {
	height:27px;
	line-height:27px;
	background-color:#6AC334;
	font-size:14px;
	font-weight:bold
}
#header .subnav li {
	float:left;
	height:27px;
	overflow:hidden;
	line-height:27px;
	text-align:center;
	/*
	width:90px;
	background-position:-30px -107px;
	*/
	width: auto;
	padding: 0 15px;
	background-position: right 0;
}
#header .subnav .subnav_last {
	background:none
}

#header .subnav .current_subnav a {
	color:#d3edc2
}
#header .mylink {
	float:right;
	width:166px;
	height:27px;
	line-height:27px;
	background-position:0 -107px
}
#header .mylink li {
	float:left;
	width:83px;
	text-align:center
}
#header .mainnav li.current_nav a, #header .subnav li a, #header .mylink li a {
	color:#FFF
}
#header .header_search select {
	width:76px;
	vertical-align:middle;
	color:#4D4D4D
}
#header .header_search .input_text {
	width:211px;
	/*width:160px;*/
	border:1px solid #6AC334;
	background-position:0 -136px;
	vertical-align:middle;
	color:#4D4D4D;
	padding:3px
}
#header .header_search .button {
	width:62px;
	/*width:52px;*/
	height:23px;
	border:0;
	background-color:#6AC334;
	color:#FFF;
	vertical-align:middle;
	cursor:pointer
}
/*---------------
 footer css 
----------*/
#footer_search .footer_search_main, #footer_search .footer_btn_search, #footer_search .footer_link_top {
	background:url(http://www.poco.cn/module_common/footer/footer_bg.jpg) no-repeat
}
#footer_search, #footer_search .footer_search_main {
	background-color:#6ac334
}
#footer_search .footer_search_main {
	position:relative;
	width:994px;
	height:110px;
	overflow:hidden;
	background-position:left top;
	margin:0 auto
}
#footer_search .footer_search_main form {
	width:455px;
	height:75px;
	text-align:left;
	margin:25px auto auto
}
#footer_search .footer_search_main li {
	float:left;
	width:40px;
	height:25px;
	line-height:25px;
	color:#FFF;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	border-right:1px solid #3C880C
}
#footer_search .footer_search_main li a {
	color:#FFF;
	text-decoration:none
}
#footer_search .current_search_tag {
	background-color:#337214
}
#footer_search .footer_input_key {
	width:370px;
	height:23px;
	line-height:23px;
	border:none;
	vertical-align:middle;
	font-size:14px;
	padding:0 2px;
	border:1px #3c880c solid
}
#footer_search .footer_btn_search {
	width:67px;
	height:25px;
	border:none;
	cursor:pointer;
	vertical-align:middle;
	background-position:left -137px
}
#footer_search .footer_hot_concern {
	line-height:25px;
	color:#FFF
}
#footer_search .footer_hot_concern a {
	color:#FFF;
	text-decoration : none;
	margin:0 6px
}
#footer_search .footer_hot_concern a:hover {
	text-decoration : underline;
}
#footer_search .footer_link_top {
	display:block;
	position:absolute;
	top:10px;
	right:0;
	width:31px;
	height:7px;
	background-position:left -193px
}
#footer .sitemap_about, #footer .sitemap_help, #footer .sitemap_pococard {
	border-right:1px solid #6ac334;
}
#footer .sitemap {
	line-height:20px;
	margin:15px auto;
}
#footer .sitemap_about, #footer .sitemap_help, #footer .sitemap_pococard, #footer .sitemap_cooperation {
	width:228px;
	height:70px;
	float:left;
	padding:0 0 0 18px;
}
#footer .sitemap_pococard img {
	float:left;
	margin:4px 8px 0 0
}
#footer .sitemap_pococard p {
	line-height:16px;
	margin-right:8px
}
#footer .sitemap_cooperation img {
	padding:10px 56px
}
#footer .sitemap strong {
	color:#6ac334;
	margin-bottom:5px
}
#footer .sitemap_about a, #footer .sitemap_help a {
	display:block;
	float:left;
	padding-right:28px;
	white-space:nowrap;
	color:#000;
	text-decoration:none;
}
#footer .copyright {
	border-top:2px solid #6DC734;
	color:#000;
	line-height:22px;
	padding:10px 0
}
#footer .copyright a {
	color:#000
}
/*---------------
 footer css end
----------*/

big, small, code, kbd, samp, tt, input, button, textarea, select {
	font-size:100%
}
ins, #header a, #header .mainnav li.hour24 a:hover {
	text-decoration:none
}
.clearfix, .grid_c, .grid_c2_s4, .grid_c2_s4f, .grid_c2, .grid_c2f, .grid_c2_s312 .grid_c2f_s312, .grid_c3_s200e225, .main_wrap, .col_sub, .col_extra {
	zoom:1
}
.fl, .col_sub, .col_extra, #header .subnav {
	float:left
}
#header a:hover, #header .mainnav li.current_nav .channel a, #footer .sitemap a:hover {
	text-decoration:underline
}
#header .header_top_nav a, #header .mainnav li a {
	color:#4D4D4D
}
.dropdown {
	width:72px;
	position:absolute;
	top: 0px;
	left: 0px;
	z-index:999;
	overflow:hidden;
	padding:0px;
	margin:0px;
}
.dropdown ul {
	margin:0 auto;
	background:#EFEFEF;
	border:1px solid #6AC334;
	padding:1px;
}
.dropdown ul li {
	background:none;
	font-weight:normal;
	font-size:12px;
	text-align:left;
	float:none;
	padding:0px;
	margin:0px;
	line-height:20px;
}
.dropdown ul li a {
	display:block;
	color:#6AC334;
	text-decoration:none;
	padding-left:5px;
	text-align:left;
	height:20px;
}
.dropdown ul li a:hover {
	color:#FFF;
	background-color:#6AC334;
	text-decoration:none;
}
.dropdown_iframe {
	position:absolute;
	z-index:-1;
	top:0px;
	left:0px;
	filter:alpha(opacity=0);
	width:200px;
	height:600px;
}
#header .dropdown {
	width:72px;
	position:absolute;
	overflow:hidden;
	padding:0px;
	margin:0px;
}
#header .dropdown ul {
	background:#efefef;
	border:1px solid #6AC334;
	padding:1px;
}
#header .dropdown ul li {
	background:none;
	margin:0px;
	padding:0px;
	height:auto;
	line-height:20px;
	float:none;
	font-weight:normal;
	font-size:12px;
	text-align:left;
}
#header .dropdown ul li a {
	color:#6AC334;
	text-decoration:none;
	padding-left:5px;
}
#header .dropdown ul li a:hover {
	color:#FFF;
	background-color:#6AC334;
	text-decoration:none;
}
#header .mainnav .dropdown ul {
	float:none;
	margin:0 auto;
}
#header .mainnav .dropdown ul li {
	background:none;
	margin:0px;
	width:auto;
	height:auto;
	line-height:20px;
	font-weight:normal;
	font-size:12px;
	text-align:left;
}
#header .mainnav .dropdown ul li a {
	color:#6AC334;
	text-decoration:none;
	padding-left:5px;
}
#header .mainnav .dropdown ul li a:hover {
	color:#FFF;
	text-decoration:none;
}
/*---------------
 comment css 
----------*/
#comment .cmt_list {
	margin:6px 0px;
	padding-bottom:6px;
	border-bottom:1px solid #d4d4d4;
}
#comment .cmt_user_icon {
	padding:10px 0px;
	width:80px
}
#comment .reply_user_icon {
	padding:4px 0px;
	width:38px;
}
#comment .reply_main {
	margin-left:40px;
}
#comment .cmt_main {
	margin-left:80px;
}
#comment .cmt_title {
	height:24px;
	line-height:24px
}
#comment .cmt_user_name a, #comment .reply_user_name a {
	font-size:12px
}
#comment .cmt_user_honor {
	color:#900;
	text-decoration:none;
}
#comment .cmt_user_name, .cmt_user_icon, .cmt_reply_main, .cmt_reply_cmt_main, .reply_user_icon, .reply_user_name {
	float:left;
}
#comment .cmt_add_date {
	float:right;
	color:#999;
}
#comment .cmt_user_award {
	color:#999;
	text-decoration:none;
	display:block
}
#comment .cmt_page a:hover {
	text-decoration:underline;
}
#comment .cmt_user_name, .cmt_add_date {
	padding-top:5px;
}
#comment .cmt_content, .reply_content {
	line-height:1.2;
	
	white-space:normal;
	word-wrap:break-word;
	word-break:break-all;
}
#comment .cmt_content {
	padding:10px 0px;
}
#comment .cmt_shortcut a { 
	color: #737373; 
}
#comment .cmt_more {
	line-height:24px;
	text-align:center;
	padding:15px 0;
}
#comment .cmt_reply_box {
	padding-top:15px;
}
#comment .cmt_reply_main, #comment .cmt_reply_cmt_main, #comment .cmt_reply_cmt_main textarea {
	margin:0;
	padding:0;
}
#comment .cmt_reply_sub {
	margin-left:550px; 
	padding-top:60px;
}
#comment .cmt_user_login {
	height:34px;
	line-height:34px;
}
#comment .cmt_function {
	margin-top:5px;
	position:relative;
}
#comment .cmt_smile_div {
	width:532px;
	height:36px;
	position:absolute;
	left:0px;
	top:-36px;
	display:none;
}
#comment .cmt_smile_div div {
	width:28px; 
	height:36px;
	font-size:31.428px;
	*float:left; 
	cursor:pointer;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	*display: block;
	overflow: hidden;
}
#comment .cmt_input_text  {
	height:21px;
	padding-left:2px;
	line-height:21px;
	margin:0px 2px;
	background:url(http://www.poco.cn/module_common/css_tpl/inputbg.jpg) left top no-repeat;
}
#comment .cmt_button {
	background-color:#6AC334;
	width:62px;
	height:23px;
	border:0;
	line-height:23px;
	color:#FFF;
	cursor:pointer;
}
#comment .cmt_textarea {
	width:524px;
	height:113px;
	padding:4px;
	color:#808080;
}
#comment .cmt_input_text, .cmt_textarea, .cmt_smile_over_div, .verify_code {
	border:1px solid #6AC334;
}
#comment .verify_code { 
	width: 100px;
	height: 20px 
}
#comment .cmt_smile, .cmt_input_text, .cmt_button, .cmt_login_type, .cmt_reply_sub, .cmt_smile_div div img, .cmt_grade_select {
	vertical-align:middle;
}
#comment .cmt_smile_btn {
	cursor:pointer;
}
#comment .blockquote {
	border:1px solid #999;
	background-color:#fafafa;
	color:#000;
	margin:4px;
}
#comment .quote_title {
	line-height:26px;
	height:26px;
	margin-left:10px;
}
#comment .quote_content {
	border-top:1px dashed #999;
	padding:10px
}
#comment .quote_user_link {
	font-weight:bold;
	line-height:18px
}
#comment .quote_content span {
	color:#999
}
#comment .reply_list {
	margin-left:80px;
}
#comment .reply_list_item {
	border-top:1px dashed #d4d4d4; 
	margin-top:3px;
	padding-top:3px
}
#comment .cmt_reply_cmt_main {
	width:400px;
}
 #comment .cmt_reply_cmt_main textarea {
	width:400px;
	height:46px;
 }
 #comment .cmt_reply_main {
	width:520px
}
#comment .cmt_page {
	margin:3px 0; 
	float:right; 
	height:20px;
}
#comment .cmt_page a { 
	display:block; 
	float:left; 
	margin-right:4px;
	height:17px; 
	line-height:17px; 
	overflow:hidden; 
	padding:0 6px; 
	background:#efefef; 
	border:1px solid #cccccc; 
	color:#666; 
	text-decoration:none; 
	display:inline
}
#comment .cmt_page a:hover, #comment .cmt_page .click { 
	background:#fff; 
	border:1px solid #737373; 
	color:#737373;
}




/*弹出*/
.poco_pop { border:2px solid #6ac334; margin:1px; padding:15px;}
.poco_pop .title { color:#6ac334; }
.poco_pop .time { color:#6ac334; font-weight:bold; font-size:14px; padding-left:5px; }
.poco_pop .text { clear:both; word-wrap:break-word; word-break:break-all; overflow: hidden;}
.poco_pop .pop_btu { margin:10px; padding-top:10px; text-align:center; }
.poco_pop .button { margin-left:5px; margin-right:5px; float:none; }
.poco_pop_iframe { position:absolute; z-index:-1; top:0px; left:0px; filter:alpha(opacity=0); width:2000px; height:2000px;}

.word_break { white-space:normal; word-wrap:break-word; word-break:break-all; overflow:hidden;}


/************弹出窗新版************/
.poco_layer_box_iframe{
	height:2000px;
	position:absolute;
	z-index:-1;
	top:0px;
	left:0px;
	filter:alpha(opacity=0);
}
.poco_layer_box table{width:100%;border:0px;}
.poco_layer_box .tl, .poco_layer_box .tr,
.poco_layer_box .box_c,
.poco_layer_box .bl, .poco_layer_box .br{
	background:url( http://my.poco.cn/manage/images/poco_pop_winbox.png);
	_filter:alpha(opacity=70);
	_background:url( http://my.poco.cn/manage/images/poco_pop_winbox.gif);
}
.poco_layer_box .tl, .poco_layer_box .tr,
.poco_layer_box .bl, .poco_layer_box .br{
	width:5px;
	height:5px;
}
.poco_layer_box .tl{ background-position:0px 0px; }
.poco_layer_box .tr{ background-position:-5px 0px;}
.poco_layer_box .box_c{ background-position:-20px -5px;}
.poco_layer_box .box_cc{ background:#fff;border:1px solid #a0a0a0;}
.poco_layer_box .bl{ background-position:-10px 0px;}
.poco_layer_box .br{ background-position:-15px 0px;}

.poco_layer_box .layer_box_content{ padding:10px 12px;background:#fff; }
.poco_layer_box .layer_box_content .title_main{ height:19px;line-height:19px;font-size:14px; font-weight:bold; }
.poco_layer_box .layer_box_content .title{ height:19px;line-height:19px;color:#52a91c; }
.poco_layer_box .layer_box_content .title_icon{
	text-indent:20px;
	background:url( http://my.poco.cn/manage/images/lb_title_icon.gif) no-repeat 0px 2px;
}
.poco_layer_box .layer_box_content a.close_icon{
	width:17px;
	height:17px;
	background:url( http://my.poco.cn/manage/images/lb_close_icon.gif) no-repeat 5px center;
	margin-top:2px;
	display:block;
	overflow:hidden;
}
.poco_layer_box .layer_box_content a.close_icon:hover{
	background:url( http://my.poco.cn/manage/images/lb_close_icon.gif) no-repeat -24px center;
}

.poco_layer_box .layer_box_content .time{
	color:#3e8834;
	font-weight:bold;
	font-size:14px;
	padding-left:5px;
}
.poco_layer_box .layer_box_content .text{
	clear:both;
	word-wrap:break-word;
	word-break:break-all;
	/*overflow:hidden;*/
	padding:0px;
	color:#000;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
.poco_layer_box .layer_box_content .text a{ color:#000; }
.poco_layer_box .layer_box_content .pop_btu{ margin-top:10px;text-align:center; }
.poco_layer_box .layer_box_content .button{ 
	width:64px;
	height:22px;
	line-height:22px;
	color:#000;
	background:url( http://my.poco.cn/v3/images/button_collection.gif) no-repeat -10px -10px;
	cursor:pointer;
	border:none;
	vertical-align:middle;
}
.poco_layer_box .layer_box_content div.d_line {
	height:1px;
	border-top:1px dotted #cbcbcb;
	clear:both;
	overflow:hidden;
	margin-top:3px;
	margin-bottom:0px;
}
/************弹出窗新版************/


/************弹出大图**************/
.show_full_screen_img_container{ background-color:#000; color:#FFF; }
.show_full_screen_img_container a,.show_full_screen_img_container a:hover { color:#FFF; }
.show_full_screen_img_close{ position:relative; background-image:url(http://my.poco.cn/manage/images/poco_pop_winbox.png); _background-image:url(http://my.poco.cn/manage/images/poco_pop_winbox.gif); background-position:left bottom; width:20px; height:20px; margin:4px 2px 4px 0; float:right;   cursor:pointer; display:block;}
.show_full_screen_img_turn_right{ padding-right:10px; margin:0px 5px; background:url("http://my.poco.cn/t/images/feed_ico.png") no-repeat scroll right -139px }
.show_full_screen_img_turn_left{ padding-left:10px; margin:0px 5px; background:url("http://my.poco.cn/t/images/feed_ico.png") no-repeat scroll left -118px}
.show_full_screen_img_artwork{ padding-left:12px; margin:0px 5px; background:url("http://my.poco.cn/t/images/feed_ico.png") no-repeat scroll left -98px}
#J_show_full_screen_img_container {
	text-align:center;	
}
#J_show_full_screen_img_loading {
	text-align:center;
	padding:5px;
}
/************弹出大图**************/

/**分享**/
.poco_share_box { font-size:12px; width:220px; border:#B5B5B5 1px solid; background-color:#FFF; left:-1000px }
.poco_share_box a{ color:#000; text-decoration:none;}
.poco_share_box .poco_share_title, .poco_share_box .poco_share_email { padding:0px 10px; }
.poco_share_box .poco_share_list { padding:5px 10px 0px 10px;; }
.poco_share_box .poco_share_title { line-height:25px; height:25px; background-color:#F5F5F5; color:#000; font-weight:bold; }
.poco_share_box .poco_share_email { padding-top:3px; padding-bottom:5px; height:20px; }
.poco_share_box .poco_share_email a{ background:url(http://www.poco.cn/js_common/images/poco_share/share.png) 0 -270px no-repeat; line-height:20px; height:20px; display:block; padding-left:122px;}
#J_poco_share_bnt { background:#edefeb; width:222px; height:28px; }
#J_poco_share_bnt ul {margin-top:-2px; position:relative;margin-left:-2px;background:#fff;border-width:1px;border-style:solid;height:26px;line-height:26px;width:220px;	}
.poco_share_list a,.poco_share_list span{ background-image:url(http://www.poco.cn/js_common/images/poco_share/share.png); display:block; line-height:24px; padding-left:23px; cursor:pointer;}
.poco_share_list .copy{ background-position:0 -1px}
.poco_share_list .sinawb{ background-position:0 -25px}
.poco_share_list .renren{ background-position:0 -49px}
.poco_share_list .email{ background-position:0 -49px}
.poco_share_list .qq_blog{ background-position:0 -76px}
.poco_share_list .email{ background-position:0 -104px}
.poco_share_list .pocofriend{ background-position:0 -131px}
.poco_share_list .pocostatus{ background-position:0 -131px}
.poco_share_list .qq_space{ background-position:0 -156px}
.poco_share_list .kaixin{ background-position:0 -180px}
.poco_share_list .douban{ background-position:0 -206px}
.poco_share_list .msn{ background-position:0 -233px}

#J_poco_share_bnt li{ float:left; height:100%; font-weight:bold; font-size:14px; display:inline}
#J_poco_share_bnt .gtgt{ margin-left:13px; margin-right:8px; font-weight:normal;}
#J_poco_share_bnt .sub{ margin:0 3px 0 5px;}
#J_poco_share_bnt .kaixin{ background:url(http://www.poco.cn/js_common/images/poco_share/share.png) 0 -361px; width:16px; margin-left:5px}
#J_poco_share_bnt .renren{ background:url(http://www.poco.cn/js_common/images/poco_share/share.png) 0 -324px; width:16px; margin-left:7px}
#J_poco_share_bnt .sinawb{ background:url(http://www.poco.cn/js_common/images/poco_share/share.png) 0 -295px; width:16px; margin-left:6px;}
#J_poco_share_bnt .down{ margin-left:8px; font-family:System; font-size:16px}

#J_poco_share_bnt li{ color:#737373}
#J_poco_share_bnt ul{ border-color:#737373} 
/**分享**/


/*blog图片赞*/
#like_it_div img{ background:url(http://my.poco.cn/v3/images/img_zan.gif); width:19px; height:17px; vertical-align:baseline; margin-bottom:-3px}
.like_it_big_img{ margin-bottom:-10px;}

#like_it_div{ background:none; text-align:right; white-space:nowrap; color:#FFF; cursor:auto; width:201px; margin-top:-5px; height:28px;}
#like_it_div .item_fav_pop_layer{ bottom:29px;left:100%; margin-left:-10000px}
#like_it_div .img_zan_counter{ height:28px; overflow:hidden}
#like_it_div span{ float:right; background:url(http://my.poco.cn/v3/images/imgzan_bg.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://my.poco.cn/v3/images/imgzan_bg.png",sizingMethod="scale")}
#like_it_div .left{ width:3px; height:84px;}
#like_it_div .right{ width:3px; height:84px; margin-top:-28px; _margin-left:-1px}
#like_it_div .center{ height:28px; padding:61px 5px; margin-top:-56px; line-height:normal; cursor:pointer; font-size:14px;}
.show_like_this_img_count{ padding:0}

.show_like_this_img_count { border:none}
#like_it_div.img_zan_select img{ background-position:0 -17px; white-space:normal}


/*赞提示层*/
.item_fav_pop_layer{ position:absolute;z-index:1001;bottom:19px;left:8px;background:transparent;text-align:left}
.item_fav_pop_layer .context{ width:50px;height:auto;background:#ffffd2;border:1px solid #ccc;padding:10px 15px;color:#666;font-size:12px;text-align:center}
.item_fav_pop_layer .asarrow{ margin:-1px 0px 0px 13px;width:14px;height:7px;overflow:hidden;position:relative;background:url( http://my.poco.cn/v3/images/poco_bg_coll.png) no-repeat 0px 0px}


#like_img_tips_div .triangle_border,#like_img_tips_div .triangle{
	margin:0 0 0 103px;
	float:left;
	height:0px;
	width:0px;
	border-width:6px 6px 0px 6px;
	border-style:solid;
	border-color:transparent;
	_border-color:tomato;
	_filter:chroma(color=tomato);
	border-top-color:#ccc;
	
}
#like_img_tips_div .triangle{
	position:absolute;
	margin:-7px 2px 0 -6px;
	overflow:hidden;
	border-top-color:#FFFFD2;
	}
#like_img_tips_div .tips_test{
	float:left;
	width:144px;
	line-height:23px;
	color:#000;
	margin-right:-16px;
	border:1px solid #ccc;
	background:#FFFFD2;
	padding:5px 0 5px 5px;
	font-family:"宋体"
}




/*订阅TA的作品*/
.subscribe_handle{
	width:80px;
	height:18px;
	line-height:25px;
	display:block;
	padding-left:35px;
	background:url(http://my.poco.cn/v3/images/rss_btn.png) no-repeat 0px -168px;
	text-align:left;
}

/*-- 清除浮动 --*/
.clearfix2:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix2{display:inline-block}
/* Hides from IE-mac \*/
* html .clearfix2 {height:1%}
.clearfix2 {display:block}
/* End hide from IE-mac */


.subscribe_popup, .subscribe_popup_iframe{
	width:248px;
	height:115px;
	border:1px solid #B5B5B5;
	background:#fff;
	padding:15px;
	position:absolute;
	top:20px;
	left:15px;
	z-index:99999;
	zoom:1;
}
.subscribe_popup_iframe{
	background-color:transparent;
	border:none;
	padding:0px;
	z-index:99998;
	filter:alpha(opacity=0);
	opacity:0;
}
.subscribe_popup .info{
	width:130px;
	color:#848484;
	margin-right:8px;
}
.subscribe_popup .rss_list{
	width:105px;
}
.subscribe_popup .rss_list li{
	width:103px;
	height:16px;
	line-height:20px;
	padding-bottom:4px;
	overflow:hidden;
}
.subscribe_popup .rss_list li.last_one{
	padding-bottom:0px;
}
.subscribe_popup .rss_list li a{
	width:103px;
	height:16px;
	line-height:16px;
	display:block;
	text-decoration:none;
	text-indent:-9999px;
	background:url(http://my.poco.cn/v3/images/rss_btn.png) no-repeat 0px 0px;
}
.subscribe_popup .rss_list li a.subscribe_qq{ background-position:0 0px}
.subscribe_popup .rss_list li a.subscribe_youdao{ background-position:0 -75px}
.subscribe_popup .rss_list li a.subscribe_google{ background-position:0 -25px}
.subscribe_popup .rss_list li a.subscribe_inezha{ background-position:0 -100px}
.subscribe_popup .rss_list li a.subscribe_xianguo{ background-position:0 -50px}
.subscribe_popup .rss_list li a.subscribe_poco{ background-position:0 -125px}

#plus_content p{ margin-bottom:10px}
/*---------------
 comment css end
----------*/


/* 12px字体与checkbox、radio、select对齐  add by manson 2011.4.14 */
.vertical_align{ font-size:12px;font-family:"宋体"; }
.vertical_align input,select,textarea{ font-size:12px;font-family:Arial;vertical-align:-2px; }

/* 第三方登录成功提示窗 add by manson 2011.4.20 */
#J_poco_global_login{
	width:510px;
	padding:0px 8px;
}
#J_poco_global_login .left_box{
	float:left;
	width:300px;
	border-right:1px solid #ccc;
	padding-right:9px;
	text-align:left;
}
#J_poco_global_login .right_box{
	float:left;
	width:200px;
}
#J_poco_global_login .user_info{
	text-align:center;
	width:86px;
	height:116px;
	font-size:77px;
	vertical-align:middle;
	overflow:hidden;
	display:block;
	float:left;
	margin-left:20px;
}
#J_poco_global_login .user_info img{
	max-width:86px;
	max-height:86px;
	vertical-align:middle;
	overflow:hidden;
}
#J_poco_global_login .user_name{
	text-align:center;
	width:86px;
	height:19px;
	line-height:19px;
	font-size:12px;
	overflow:hidden;
	display:block;
}
#J_poco_global_login .other_info{
	margin-left:9px;
	width:165px;
}
#J_poco_global_login .other_info p{
	padding-top:10px;
}
#J_poco_global_login p.login_succ{
	color:#6ac334;
	font-size:16px;
	text-align:left;
	font-weight:bold;
}
#J_poco_global_login .text_center{ text-align:center; }
#J_poco_global_login .text_right{ text-align:right; }


/*弹窗式的微博发送框*/
.btn_contact { margin-left: 10px; cursor: pointer; border: none; width: 64px; height: 22px; line-height: 22px; background: url(http://my.poco.cn/v2/mpc-v3/themes/btn.png) left top no-repeat; vertical-align: middle;}
.pocoStatusBox {text-align:left;}
.pocoStatusBox .psb_send_box{padding:5px 0px;}
.pocoStatusBox .psb_send_box_textarea{width:469px;padding:5px;overflow:hidden;}
.pocoStatusBox .psb_desk{padding:5px 1px 0px 0px;}
.pocoStatusBox .menu_info{padding-top:5px;}
.pocoStatusBox .menu_info{display:none;}
.pocoStatusBox .menu_list{display:block;height:28px;color:#333333;}
.pocoStatusBox .menu_list li{width:35px;display:block;float:left;height:28px;line-height:28px; padding-top:0px;}
.pocoStatusBox .menu_list .bg{background-image:url(http://my.poco.cn/manage/images/statu_send_icon.gif);background-repeat:no-repeat;padding-left:20px;cursor:pointer;margin-right:5px;}
.pocoStatusBox .menu_list .image{background-position:0px -20px;	}
.pocoStatusBox .menu_list .icons{background-position:0px 4px;}
.pocoStatusBox .menu_list .movie{background-position:0px -42px;	}
.pocoStatusBox .menu_list .music{background-position:0px -65px;	}
.pocoStatusBox .menu_list .repaste{background-position:0px -111px;}
.pocoStatusBox .menu_list .zhishu{width:60px;text-align:center;float:right;}
.pocoStatusBox .menu_list .send{float:right;width:70px;text-align:right;}
.pocoStatusBox .send_button{width:70px;height:26px;line-height:24px;border:1px solid #C9C9C9;background-color:#D4D4D4;font-weight:bold;cursor:pointer;color:#333333;}
#pocoStatusBox_img_file_container {width:91px;height:31px;display:block;position:relative;background-image:url(http://www.poco.cn/module_common/t/images/single_upload.gif);overflow:hidden;margin-right:20px;float:left;cursor:pointer;}
#pocoStatusBox_status_img_file {position:absolute;cursor:pointer;-moz-opacity:0.0;opacity: 0.0;filter:Alpha(opacity=0);top:-20px;left:-110px;font-size:100px;width:220px;}
#pocoStatusBox_pintu_container {width:121px;height:31px;display:block;background-image:url(http://www.poco.cn/module_common/t/images/pintu_upload.gif);float:left;cursor:pointer;}
#J_pocoStatusBox_image_show {display:none;}
#J_pocoStatusBox_image_show img{ max-height:120px; max-width:120px}
.pocoStatusBox .icons_info, .pocoStatusBox .image_info{display:none;}
.pocoStatusBox .icons_info ul{margin:0px;padding:0px;}
.pocoStatusBox .icons_info li{list-style-type:none;width:70px;padding:5px;text-align:center;height:24px;line-height:24px;float:left;cursor:pointer;margin:0px;padding:0px;}
.pocoStatusBox .icons_info li a{background-color:#FFF;display:block;}
.pocoStatusBox .icons_info li a:hover{background-color:#CDCDCD;}
.pocoStatusBox .movie_info,.pocoStatusBox .music_info,.pocoStatusBox .repaste_info{line-height:24px;display:none;text-align:left;}
.pocoStatusBox .pocoStatusBox_send_input{line-height:26px;height:26px;border:1px solid #D7D7D7;}
#pocoStatusBox_closeBox{margin-top:10px;cursor:pointer;}
.pocoStatusBox .repaste_info img{max-height:120px;max-width:120px; _display:none;} 
/*发微博完成的框*/
.pocoStatusBoxSuccBox{padding:10px 20px 0px 10px;text-align:left;}
.pocoStatusBoxSuccBox .msg_title {font-size:14px;color:#52A91C;font-weight:bold;}
.pocoStatusBoxSuccBox .msg_title a{color:#52A91C !important;}
.pocoStatusBoxSuccBox .msg_content{color:#9F9F9F;margin-top:15px;line-height:22px;font-size:12px;}




/*收录提示层*/
.item_collect_pop_layer, .cancel_item_collect_pop_layer{ position:absolute;z-index:1001;top:0;left:0;background:transparent;text-align:left}
.item_collect_pop_layer .context, .cancel_item_collect_pop_layer .context{ position:relative;z-index:1002;background:#ffffd2;border:1px solid #ccc;color:#666;font-size:12px;line-height:18px}
.item_collect_pop_layer .context{ width:194px;height:43px;text-align:left;padding:5px 10px;}
.cancel_item_collect_pop_layer .context{ width:140px;height:48px;text-align:center;padding:10px;}

.item_collect_pop_layer .context p{ padding-bottom:3px}
.item_collect_pop_layer .context .topic_cont{ height:17px; overflow:hidden; white-space:nowrap}
.item_collect_pop_layer .context .topic_cont .edit{ margin-left:150px; padding-left:10px; position:absolute; background:#FFFFD2 }
.cancel_item_collect_pop_layer .context p{ padding-bottom:7px}

.item_collect_pop_layer .context .small_heart{ position:relative;z-index:1002;padding-left:18px}
.item_collect_pop_layer .context .small_heart i{ width:15px;height:13px;display:inline-block;cursor:pointer;vertical-align:middle;background:url(http://my.poco.cn/v3/images/poco_btn_20110609.png) no-repeat 0px -48px;position:absolute;top:2px;left:0;z-index:1000;overflow:hidden}

.item_collect_pop_layer .context a, .cancel_item_collect_pop_layer .context a,
.item_collect_pop_layer .context a:hover, .cancel_item_collect_pop_layer .context a:hover
{ color:#360}
.cancel_item_collect_pop_layer .context a{ text-decoration:underline}
.item_collect_pop_layer .context p a{ text-decoration:underline}
.item_collect_pop_layer .context a{ text-decoration:none}
.item_collect_pop_layer .context a:hover, .cancel_item_collect_pop_layer .context a:hover{ text-decoration:none}
.item_collect_pop_layer .asarrow{ width:14px;height:7px;overflow:hidden;position:absolute;z-index:1010;left:21px;bottom:-7px;background:url(http://my.poco.cn/v3/images/poco_btn_20110609.png) no-repeat 0px 0px}
/* END 收录提示层*/
/**收录专辑列表浮动层**/
.collect_topic_pop_list{ position:absolute;z-index:1011;top:29px;left:10px;border:1px solid #ccc;width:170px;overflow:hidden;background-color:#fff;padding-bottom:5px}
.show_scroll{ width:188px}
.collect_topic_pop_list .title{ width:160px;height:27px;line-height:27px;padding:0 5px}
.show_scroll .title{ width:178px}
.collect_topic_pop_list .title .add_to{ position:relative;z-index:900;color:#ccc;padding-right:14px;}
.collect_topic_pop_list .title .add_to b{ position:absolute;right:0;top:10px;width:0;height:0;font-size:0px;line-height:0px;border-width:8px 6px 0px 6px;border-style:solid;border-color:#ccc transparent transparent transparent;_border-color:#ccc #fff #fff #fff;_filter:chroma(color=white);-webkit-transition:-webkit-transform .2s ease-in;-moz-transition:-webkit-transform .2s ease-in;-o-transition:-webkit-transform .2s ease-in;transition:-webkit-transform .2s ease-in}
.collect_topic_pop_list .title span a.create_topic{ color:#000}
.collect_topic_pop_list .list{ }
.show_scroll .list{ position:relative;z-index:1002;height:185px;overflow-x:hidden;overflow-y:scroll}
.collect_topic_pop_list .list a{ text-align:left;width:150px;height:23px;line-height:23px;padding:0 10px;display:block;background-color:#fff;text-decoration:none;overflow:hidden;white-space:nowrap;position:relative;z-index:1002}

.collect_topic_pop_list .list a:hover,.collect_topic_pop_list .list a:hover span{ background-color:#ccc;text-decoration:none}
.collect_topic_pop_list .list a span{ position:absolute;right:0;top:1px;background:#fff;padding-left:5px;padding-right:13px;height:19px;line-height:19px;text-decoration:none}
.item_collect_pop_layer .context a span{ text-decoration:none}

/*** 创建新收录专辑 ***/
#J_create_new_topic_content input,#J_create_new_topic_content textarea{ width:350px;padding:3px 2px 1px;border-width:1px;border-color:#C4C7BD #EFEFEF #F2F2F2 #D2D5CA;border-style:solid;background-color:#fff;color:#999}
#J_create_new_topic_content input.focus_bg,#J_create_new_topic_content textarea.focus_bg{ background-color:#FFFFD2 !important}

#J_create_new_topic_content input{ height:27px;line-height:18px;}
#J_create_new_topic_content textarea{ height:80px;line-height:18px;font-size:12px;word-wrap:break-word;overflow-x:hidden;overflow-y:auto;resize:none}
a.btn_cancel {  margin-left: 22px;  text-decoration: underline;}
.btn_normal, .btn_disable, .btn_normal em, .btn_disable em {
  background: url("http://my.poco.cn/v3/images/poco_bg_coll.png") no-repeat scroll -100px 0 transparent;
  cursor: pointer;
  color:#333;
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-decoration:none;
}
.btn_normal em,.btn_disable em {
  background-position: right -23px;
  height: 23px;
  padding-right: 20px;
  text-decoration:none
}
a.btn_normal:hover{ background-position:-100px -46px;text-decoration:none;}
.btn_normal,.btn_disable {
  height: 23px;
  line-height: 23px;
  padding-left: 20px;
}
.pt10{ padding-top:10px}
/*** END创建新收录专辑 ***/