body { background:#6ac334 url(http://my.poco.cn/space/images/photo_bg.gif) center top repeat-y; font-family:"宋体", Tahoma; line-height:24px; }
/* Link */
a { color:#000; text-decoration:underline; outline:none; }
a:hover { color:#000; text-decoration:none; }
img,
a img { border:0; vertical-align:middle; }
/* Font  */
.fb { font-weight:bold; }
.f11 { font-size:11px; }
.f12 { font-size:12px; }
.f13 { font-size:13px; }
.f14 { font-size:14px; }
.white { color:#FFF; }
.green { color:#52a91c; }
.green a{ color:#52a91c; }
.grey,
.gray a { color:#737373; }
.gray,
.grey a { color:#737373; }
.black { color:#000; }
.red { color:#d2150b; }
.red a { color:#d2150b; }
.lh20 { line-height:20px!important;}
.lh14{line-height:18px!important;}
.lh18{line-height:18px!important;}
.lh30{line-height:30px!important;}
.mt10{margin-top:10px!important;}
.mt20{margin-top:20px!important;}
.mr10{margin-right:10px!important;}
.mb10{margin-bottom:10px!important;}
.mb5{margin-bottom:5px!important;}
.mt5{margin-top:5px!important;}
.mar0{margin-top:0px; margin-bottom:0px;}
.mr5{margin-right:5px!important;}
.mr20{margin-right:20px!important;}
.mr50{margin-right:50px!important;}
.margin3 { margin:0px 3px!important;}
.margin_left0 { margin-left:0px!important;}
.fn_nm { font-weight:normal!important;}
.fn_ta { font-family:Tahoma; }
.fn_st { font-family:宋体; }
/* position */
.clear { clear: both; height:0px; overflow:hidden; }
.relative { position:relative; display:inline; }
.over_font{white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;_text-overflow:ellipsis;}
.auto_lf{word-wrap: break-word;word-break:break-all;}
.fl{float:left;}
.fr{float:right;}

.col_sub:after {content:'\0020'; display:block; height:0; clear:both; visibility: hidden;}
.col_sub {zoom:1; width:205px; float:right;}


/*title*/
.c_line { height:1px; line-height:1px; overflow:hidden; background:#6ac334; margin:10px 0px; clear:both; }
.d_line { background:url(http://my.poco.cn/space/images/dot_line.gif) center 8px repeat-x scroll; height:10px; margin:5px 0px; clear:both;}
.d_line_2 { width:100%;height:5px;background:url(http://my.poco.cn/space/images/dot_line.gif) repeat-x 0 4px; clear:both; overflow:hidden;}

.li248 li{width:238px;float:left;padding-right:10px;}
.li248 li img{margin-right:5px;}
.inputbg { background:url(http://my.poco.cn/space/images/inputbg.jpg) left top no-repeat; padding-left:4px; color:#808080; }
/*--
栅格背景
------*/
.grid_c2 { background:url(http://www.poco.cn/css_common/images/grid-c2.gif) center top repeat-y }
.grid_c2f { background:url(http://www.poco.cn/css_common/images/grid-c2f.gif) center top repeat-y }
.grid_c2_s312 { background:url(http://www.poco.cn/css_common/images/grid-c2-s312.gif) center top repeat-y; height:100%; }
.grid_c2f_s312 { background:url(http://www.poco.cn/css_common/images/grid-c2f-s312.gif) center top repeat-y; height:100%; }


/*弹出*/
#top_pop { width:992px; background:#f8f8f8; border:#6ac334 solid 1px; color:#52a91c; margin:7px auto; height:74px; }
#top_pop .top_colse { width:100px; float:right; color:#000; height:23px; line-height:23px; vertical-align:middle; }
#top_pop .top_colse .checkbox { width:23px; float:left; margin-top:4px; *margin-top:1px;
*margin-top:0px!important;
}
#top_pop .top_colse .text { width:55px; float:left; }
#top_pop .top_colse .close { width:11px; height:11px; float:left; padding-top:5px; }
#top_pop .top_menu { text-align:center; width:992px; height:29px; line-height:29px; }
#top_pop .top_menu li { width:248px; float:left; text-align:center; display:inline; }
#top_pop .top_menu a { font-size:14px; font-weight:700; color:#52a91c; text-decoration:underline; }
#top_pop .top_menu a:hover { font-size:14px; font-weight:700; color:#52a91c; text-decoration:none; }
#top_pop .float_l { float:left; height:35px; line-height:35px; text-indent:18px; width:500px; }
#top_pop .toptitle { width:992px; height:35px; }
/*弹出结束*/


/*--
栅格背景
------*/
.grid_c2 { background:url(http://my.poco.cn/space/images/grid-c2.gif) center top repeat-y; }
.grid_c2f { background:url(http://my.poco.cn/space/images/grid-c2f.gif) center top repeat-y; }
.grid_c2_s312 { background:url(http://my.poco.cn/space/images/grid-c2-s312.gif) center top repeat-y; height:100%; }
.grid_c2f_s312 { background:url(http://my.poco.cn/space/images/grid-c2f-s312.gif) center top repeat-y; height:100%; }
#content { margin-bottom:20px; height:100%; }
/* title */
h3.title { font-size:14px; font-weight:bold; text-indent:20px; background:url(http://my.poco.cn/space/images/green_ico.gif) no-repeat 0 1px; color:#52a91c;line-height:18px; overflow:hidden; height:18px;margin-bottom:10px;}
h3 a { font-weight:bold; font-size:14px; text-decoration:underline; }

/* baaner css */
.banner994{ width:994px; margin:10px auto; height:90px; clear:both; }
.banner205{ width:205px; margin-top:10px; height:80px; clear:both; }
.zbanner312{ width:312px; margin-bottom:10px; height:214px; clear:both; }
.banner312s{ width:312px; margin:0px; height:135px; clear:both; }
.banner768{ height:80px; width:768px; margin-top:10px; clear:both; overflow:hidden; }
/* baaner css end */

/* 首页--今日焦点 */
#con_side { width:768px; margin:0 auto; height:210px; overflow:hidden; }
#focus { float:left; width:280px; height:210px; margin-right:10px; position:relative; }
#focus .btn { width:21px; height:21px; position:absolute; z-index:1; left: 3px; top: 186px; }
#todays { float:left; width:478px; overflow:hidden; height:210px; }
#todays .todays_box { width:453px; margin:0 auto;}
#todays .photo_li { width:357px; height:140px; float:left; padding-top:20px; overflow:hidden; }
#todays .photo_li ul { width:387px; height:140px; }
#todays .photo_li ul li { width:100px; height:120px; float:left; text-align:center; line-height:24px; padding-right:29px; display: inline; }
#todays .s_left { float:left; height:50px; width:22px; padding-top:58px; padding-right:26px; }
#todays .s_right { float:left; height:50px; width:22px; padding-top:58px; padding-left:26px; }
/* 首页--今日焦点结束 */

.hot { width:660px; margin:10px auto; height:67px;}
.hot li { width:220px; float:left; height:64px; }
.hot .pic { width:64px; height:64px; float:left; }
.hot .text { height:64px; width:140px; padding-left:10px; float:left; padding-right:5px; }
.hot .text p { line-height:18px;}

/* change */
.toggle,.toggle2{padding:0 0 0 13px;height:30px;overflow:hidden;background:url(http://my.poco.cn/space/images/solid_line.gif) repeat-x bottom;} 
.toggle li,.toggle2 li{border:#6ac334 solid 1px;font-size:14px;font-weight:bold;margin-right:3px;padding-top:1px;}
.toggle li a,.toggle2 li a{text-decoration:none;display:block;padding:0 10px;background:#ececec;line-height:27px;}
.toggle li.current a,.toggle2 li.current a{background:#fff;color:#52a91c;}
.toggle li.current,.toggle2 li.current{float:left;border-bottom:#fff solid 1px;}
.toggle li.look_around, .toggle2 li.look_around, .toggle2 li.look_around a{ margin:0px;padding:0px; border:0px;background:#FFF;}
.toggle2{padding:0 0 0 7px;height:22px;}
.toggle2 li{font-size:12px;font-weight:normal;}
.toggle2 li a{padding:0 9px;line-height:19px;}

/* 分页 */
.page {margin:3px 0; float:right; height:20px; }
.page a { display:block; float:left; margin-right:4px; height:17px; line-height:17px; overflow:hidden; padding:0 6px; background:#efefef; border:1px solid #cccccc; color:#666; text-decoration:none; display:inline; }
.page a.current{background:#fff;border:#6ac334 solid 1px;}
.page a:hover { background:#ffffff; border:1px solid #52a91c; color:#52a91c; }
.page .click { background:#ffffff; border:1px solid #52a91c; color:#52a91c; }

.show_shadow{background:url(http://my.poco.cn/space/images/shadow.gif) no-repeat center 0; height:16px; }
.w167{width:167px;text-align:center;}
.w167 img{border:#cbcbcb solid 1px;}
.w167_tit{height:20px;}
.li_line li{background:url(http://my.poco.cn/space/images/dot_line.gif) repeat-x bottom;padding:8px 0 15px;}
.img_text img { float:left; margin-right:10px; }
.more{text-align:right;}

/* space */
.w445{width:445px;overflow:hidden;float:left;height:240px;overflow:hidden;}
.pic64{width:500px;}
.pic64 li{width:64px;float:left;margin-right:28px;line-height:18px;text-align:center;margin-bottom:10px;}
.space_search{width:310px;float:left;padding-left:10px;height:240px;overflow:hidden;border-left:#6ac334 solid 1px;overflow:hidden;}
.space_search table{line-height:35px;}
.form_text{ height:21px; line-height:21px; border:1px solid #6AC334; float:left; }
.form_button{background:#6ac334;text-align:center;color:#fff;width:60px;float:left;border:none;cursor:pointer;height:23px;line-height:23px;}
.a_block .click{display:inline-block;background:#6ac334;text-align:center;padding:0 5px;line-height:18px;text-decoration:none;color:#fff;}
.li375 li{width:355px;float:left;padding-right:20px;margin-bottom:10px; height:120px;}
.li68 li{width:68px;float:left;}
.li68 { width:205px; overflow:hidden;}
.li68 ul { width:225px;}
.li68 ul li { float:left; width:72px;}
.pic85{width:205px; overflow:hidden;}
.pic85 ul { width:240px;}
.pic85 ul li{ width:85px; float:left; text-align:center; padding-right:35px;}

.w250{width:240px;padding-right:10px;border-right:#6ac334 solid 1px;float:left;margin-right:10px;}
.dq_ico{padding-left:25px;line-height:26px;}
.dq_ico strong{width:80px;overflow:hidden;display:block;float:left;}
.dq_ico1{background:url(http://my.poco.cn/space/images/icobg_01.jpg) no-repeat left top;}
.dq_ico2{background:url(http://my.poco.cn/space/images/icobg_02.jpg) no-repeat left 3px;line-height:25px;}
.dq_ico3{background:url(http://my.poco.cn/space/images/icobg_03.jpg) no-repeat left 3px;}

.dt_ul li{ background:url(http://my.poco.cn/space/images/dot_line.gif) repeat-x bottom;padding:6px 3px 10px 0px;text-align:right;}
.dt_ul .name{width:80px;height:23px;overflow:hidden;float:left;display:block;text-align:right;}
.dt_ul .title{width:329px;height:23px;display:block;overflow:hidden;text-align:left;padding-right:2px;}
.dt_ul .img_dynamic_arrow{cursor:pointer;vertical-align:bottom;}


/*-- 登陆 --*/
#login { width:205px; height:210px; }
#login .btu_fl { height:41px; width:203px; color:#52A91C; background:url(http://www.poco.cn/images_v2009/btu_fl.gif) left top no-repeat; padding:0px 2px 2px 0px; line-height:41px; text-align:center; margin-top:10px;}
#login .btu_fl a { font-size:14px; color:#52A91C; display:block; text-decoration:none;}

#login ul.login_ul { width:205px; margin-top:10px; height:auto;}
#login ul li.login_li { width:205px; margin-bottom:9px; color:#52A91C; height:23px; line-height:23px; display: block; }
#login .input{ border: 1px solid #6AC334; width:130px; height:21px; line-height: 21px; vertical-align: middle; }
#login ul li.pw { padding-left:61px; width:144px; }
#login ul li.btu { width:142px; margin-bottom:9px; color:#52A91C; height:23px; font-weight:bold; line-height:23px; display: block; padding-left:63px; }
#login ul li.btu2 { width:139px; margin-bottom:9px; color:#52A91C; height:23px; font-weight:bold; line-height:23px; display: block; padding-left:66px; }
#login a.psw_link { color:#52A91C; text-decoration:underline; }
#login a.psw_link:hover { color:#52A91C; text-decoration:none; }
#login .button { background-color:#6AC334; width:62px; height:23px; border:0; color:#FFF;}
#login .selector_icon{ position: absolute; left: 171px; *left: 171px; _left: 171px; top:2px; *top:3px; _top:3px; z-index:1000; display:inline; height:19px; width:19px; background:url(http://www.poco.cn/module_common/login/images/selector_icon.gif) center no-repeat; cursor: pointer;}

/*登录后*/
#login .signed { width:205px; clear:both; height:180px; margin-top:8px;}
#login .signed ul { width:205px; clear:both; margin-top:0px; padding-bottom:4px;}
#login .signed ul li { width:205px; color:#52A91C; height:21px; line-height:21px; float:left;}
#login .signed a { color:#52A91C; text-decoration:underline;}
#login .signed a:hover { color:#52A91C; text-decoration:none;}
#login .signed .userface { width:86px; height:86px; float:left;}
#login .signed .usertext { float:left; width:119px;}
#login .signed .usertext ul { width:119px;}
#login .signed .usertext ul li { width:100px; text-align:left; font-weight:bold; height:21px; line-height:21px; float:left; padding-left:19px;}


/*input*/
.input280 { width:280px; height:23px; line-height:21px; border:1px solid #6AC334; }
.input180 { width:180px; height:21px; line-height:21px; border:1px solid #6AC334; }
.input120 { width:120px; height:21px; line-height:21px; border:1px solid #6AC334;}
.select select { width:116px; height:23px; border:#d2150b; }


/*add by 2010-02-09   use by tu.poco.cn*/
/*新相册首页*/
.photo635 { width:639px; border:1px solid #dedede; padding:10px; text-align:center; position:relative;}
.photo635 .text_box { color:#808080; background:#FFF; width:100px; height:21px; line-height:21px; position:absolute; left: 544px; top: 323px; }
.photo635 .text_box a { color:#808080;}

.but222 { width:222px; height:30px; background:url(http://my.poco.cn/space/images/but222.jpg) left top no-repeat; padding:0px 2px 2px 0px; margin:0 auto; text-align:center; margin-top:20px;}
.but222 a { font-size:14px; font-weight:bold; line-height:30px; color:#52a91c; display:block; text-decoration:none;}

.but222s { width:222px; height:30px; background:url(http://my.poco.cn/space/images/but222s.jpg) left top no-repeat; padding:0px 2px 2px 0px; margin:0 auto; text-align:center; margin-top:20px}
.but222s a { font-size:14px; font-weight:bold; line-height:30px; color:#52a91c; display:block; text-decoration:none;}
.col_8080 { color:#808080;}
.xiance_li { width:994px; margin:0 auto;}
.xiance_li li { width:442px; padding-left:55px; float:left; height:40px; margin-bottom:19px;}
.xiance_li li.tag01 { background:url(http://my.poco.cn/space/images/tag_pic.jpg) left top no-repeat;}
.xiance_li li.tag02 { background:url(http://my.poco.cn/space/images/tag_pic.jpg) left -59px no-repeat;}
.xiance_li li.tag03 { background:url(http://my.poco.cn/space/images/tag_pic.jpg) left -122px no-repeat;}
.xiance_li li.tag04 { background:url(http://my.poco.cn/space/images/tag_pic.jpg) left -180px no-repeat;}
.xiance_li h3 { color:#52a91c; line-height:20px;}

.hot_key { width:312px; overflow:hidden; }
.hot_key a { display:inline-block; padding:3px; width:94px; text-align:center; height:26px; line-height:26px; }
.hot_key a.ico { background:url(http://my.poco.cn/space/images/link_ico.gif) no-repeat right top; }

.col_ff6600 { color:#ff6600;}
.col_ecbd00 { color:#ecbd00;}
.col_ff9900 { color:#ff9900;}
.col_0ac286 { color:#0ac286;}
.col_99cc00 { color:#99cc00;}
.col_cc9933 { color:#cc9933;}
.col_99cc00 { color:#99cc00;}
.col_00cc33 {color:#00cc33;}
.col_66cc00 { color:#66cc00;}
.col_99cc00 { color:#99cc00;}
.col_00cc33 { color:#00cc33;}

.margin3 { margin-left:3px!important;}
.dynamic_state_content a img { margin-bottom:7px;}

/* 新版变色龙 2011-08-11 修正 */

.grid_c2f { background:url(../images/grid-c2f.gif) center top repeat-y; }

#header .header_top_bar,.nav_bar{ width:994px; margin:0 auto}

.shadow_top{ height:0px; overflow:hidden}

#footer_search .footer_search_main{ background:none}

body {background:#000 url(../images/bsl_bg.jpg) center top fixed no-repeat ;}  /*-- 外围 shawdow 阴影图片 色值可修改 --*/

.bg{ background: url(../images/photo_bg.gif) center top repeat-y  ;}/*-- 外层 背景 --*/

#header .poco_logo a, #header .mainnav li, #header .mainnav li.current_nav, #header .subnav li, #header .mylink, #header .header_search .input_text, #header .header_search .header_search_type {
	background:url(../images/header_bg.png) no-repeat
}

#header{width:100%; background:url(../images/header.png)  no-repeat center 0} /*-- 修改头部背景图 大小 1024*110 --*/

.shadow_wrap {} 

.shadow_header_top {background:url(../images/header_bg.png) center -178px no-repeat}  /*-- 顶部shaw-top 修改图片，大小 1030*8 颜色值 --*/

#header .poco_logo a {background-position:0 3px}

#header .subnav_bar{ background-color:#622c7b } /*-- 导航条 背景色 --*/

#header .header_top_nav a,#header .header_top_nav{ color:#a1a1a1} /*-- 顶部文字导航颜色   请在这改色值 --*/

#header .header_search .input_text{ border:1px solid #622c7b} /*-- 顶部输入框颜色   请在这改色值 --*/

#header .header_search .button { background:#622c7b}/*-- 顶部搜索按钮颜色   请在这改色值 --*/

#header .mainnav li { background-position:0 -72px; }

#header .mainnav li.current_nav {	background-position:0 -31px}

#header .mainnav li a, #header .mainnav li.hour24 a,#header .mainnav li.ichina a { color:#4d4d4d } /*-- 24小时 亚运字体 颜色 --*/

#header .mainnav li.hour24{ background-position:-292px 0; background:none} /*-- 24小时 背景定位 --*/

#header .header_search .header_search_type {background-position:-954px -244px;  color:#4D4D4D;}/*-- 下拉框 背景定位 --*/

#header .subnav_bar {background-color:#745817;}/*-- 导航 背景色 --*/

#header .subnav li {	background-position: right 0;}

#header .subnav .subnav_last {	background:none}

#header .subnav .current_subnav a {	color:#F7D893}/*-- 导航当前选项 颜色 --*/

#header .mylink {	 display:none;}/*-- 我的空间我要发表 --*/

#header .header_search select {	color:#4D4D4D}
#header .header_search .input_text {border:1px solid #745817;	background-position:0 -136px;	color:#4D4D4D;}/*-- 搜索文本框 --*/
#header .header_search .button {background-color:#745817;	color:#FFF;vertical-align:middle;	cursor:pointer}

.shadow_top, .shadow_bottom  { background:none} /*-- 底部shawtop与shawbottm  背景色 --*/

h3.title { background:url(../images/green_ico.gif) no-repeat 0 1px; color:#745817;}  /*-- 标题颜色 --*/

.c_line { background-color:#745817}  /*-- 线颜色 --*/

#footer_search { background:url(../images/foot.png) center 0 no-repeat}  /*-- 底部大图 大小 1024*113  --*/

#footer_search .footer_search_main {	background-position:left top; z-index:999}

#footer_search .footer_search_main li { border-right:1px solid #745817}  /*-- 线框颜色 --*/

#footer_search .footer_hot_concern,#footer_search .footer_hot_concern a { color:#fff}  /*-- 字体颜色 --*/

#footer_search .footer_input_key {border:1px solid #745817}  /*-- 输入框 边框颜色 --*/

#footer_search .footer_btn_search {background:url(../images/footer_bg.jpg) left -137px; no-repeat} /*-- 搜索按钮 背景图 --*/

.wraprelativ { position:relative; width:994px; margin:0 auto}
.pop_tag {  position:absolute; right:93px; top:-145px; z-index:998;width:238px; height:144px;background:url(../images/wapper.png) center no-repeat;_background:none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="images/wapper.png")}   /*-- 漂浮层 --*/

#footer_search .footer_link_top  { background:url(../images/footer_bg.jpg) left -193px no-repeat} /*-- top 背景图 --*/

#footer .sitemap strong { color:#000} /*-- 底部字体颜色 --*/

#footer .sitemap_about, #footer .sitemap_help, #footer .sitemap_pococard {border-right:1px solid #745817} /*-- 底部线框颜色 --*/

#footer .copyright{ border-top:2px solid #745817}/*-- 底部线框颜色 --*/

#footer_search .current_search_tag { background-color:#745817}/*-- tab 当前颜色背景色 --*/

#J_today_special_container {overflow:hidden;}
#J_today_special_container_space {width:1000000px;padding:0px;margin:0px;}
#J_today_special_container_space .today_special_group {float:left;}
.toggle, .toggle2 {padding:0 0 0 13px;height:30px;overflow:hidden;background:url(../images/solid_line.gif) repeat-x bottom;}
.toggle li, .toggle2 li {border:#745817 solid 1px;font-size:14px;font-weight:bold;float:left;margin-right:3px;padding-top:1px;}
.toggle li a, .toggle2 li a {	text-decoration:none;	display:block;	padding:0 30px;	background:#ececec;line-height:27px;}
.toggle li.current a, .toggle2 li.current a {background:#fff;color:#745817;}
.toggle li.current, .toggle2 li.current {border-bottom:#fff solid 1px;}
.toggle2 {	padding:0 0 0 7px;	height:22px;}
.toggle2 li {	font-size:12px;	font-weight:normal;}
.toggle2 li a {	padding:0 17px;line-height:19px;}
.toggle3 li a {	padding:0 9px;}
.w250 {margin-right:0px; border-right:1px solid #745817;}
.w250 li {	margin-top:3px; }
#dynamic_state_list {	padding-left:10px;	border-left:1px solid #745817;	margin-left:-1px;}
.dq_ico1 {	background-image:url(http://my.poco.cn/space/images/icobg_01.gif);}
.dq_ico2 {	background-image:url(http://my.poco.cn/space/images/icobg_02.gif);}
.dq_ico3 {	background-image:url(http://my.poco.cn/space/images/icobg_03.gif);}



