.focus_today
{
	color:#FFF;
}
.focus_today a
{
	color:#FFF;
}

.focus_today .photo
{
	border:#FFF;
}

/*bottom+photo64+author*/

#todays {float:left; width:478px; overflow:hidden; height:210px;}
#todays .tdcon{ position:absolute; height:95px; width:478px; left:0px; top: 115px; padding:0; margin:0; line-height:24px;}
#todays .bgcon { position:absolute; height:95px; width:478px; left:0px; top: 115px; background-color:#333; filter:alpha(opacity=50); opacity:0.5;}
#todays .tdcon .pic { width:68px; text-align:center; padding-left:10px; float:left; padding-top:5px; line-height:24px;}
#todays .tdcon .text { padding-left:10px; width:385px; float:left; height:95px; line-height:18px;}
#todays .tdcon .text h3 { line-height:29px; font-weight:700px; font-size:14px;}
#todays .tdcon .text p { padding-top:2px;}
#todays .tdcon .photo { width:64px; height:64px; border:2px solid;}
#todays .tdcon  a { text-decoration:underline; }
#todays .tdcon  a:hover {  text-decoration:none;}



/*bottom+author*/

#todays_ba { float:left; width:478px; overflow:hidden; height:210px;}
#todays_ba .tdcon{ position:absolute; height:71px; width:478px; left:0px; top: 139px; padding:0; margin:0; line-height:24px; }
#todays_ba .bgcon { position:absolute; height:71px; width:478px; left:0px; top: 139px; background-color:#333; filter:alpha(opacity=50); opacity:0.5; }
#todays_ba .tdcon .pic { width:68px; text-align:center; padding-left:10px; float:left; padding-top:5px; line-height:18px;}
#todays_ba .tdcon .text { padding-left:10px; width:455px; margin:0 auto; height:64px; line-height:18px; padding-right:10px;}
#todays_ba .tdcon .text h3 { line-height:29px; float:left; font-weight:700px; font-size:14px;}
#todays_ba .tdcon .text p { padding-top:2px;}
#todays_ba .tdcon .fh_title { clear:both; height:29px;}
#todays_ba .tdcon .author { float:left; line-height:18px; height:18px; padding-top:7px; padding-left:10px;}
#todays_ba .tdcon .photo { width:64px; height:64px; border:2px solid;}
#todays_ba .tdcon  a { text-decoration:underline;}
#todays_ba .tdcon  a:hover {  text-decoration:none;}



/*bottom+author+title*/

#todays_bat { float:left; width:478px; overflow:hidden; height:210px;}
#todays_bat .tdcon{ position:absolute; height:52px; width:478px; left:0px; top: 158px; padding:0; margin:0; line-height:24px; }
#todays_bat .bgcon { position:absolute; height:52px; width:478px; left:0px; top: 158px; background-color:#333; filter:alpha(opacity=50); opacity:0.5;}
#todays_bat .tdcon .pic { width:47px; text-align:center; padding-left:10px; float:left; padding-top:5px; line-height:18px;}
#todays_bat .tdcon .text { padding-left:10px; width:455px; margin:0 auto; height:52px; line-height:18px; padding-right:10px;}
#todays_bat .tdcon .text h3 { line-height:24px; font-weight:700px; font-size:14px;}
#todays_bat .tdcon .text p { padding-top:2px;}
#todays_bat .tdcon .fh_title { clear:both; height:50px; width:130px; float:left; padding-top:6px;}
#todays_bat .tdcon .text_con { width:315px; padding-left:10px; float:left; padding-top:8px;}
#todays_bat .tdcon .author { line-height:18px; height:18px; padding-left:0px; text-align:left;}
#todays_bat .tdcon .photo { width:64px; height:64px; border:2px solid;}
#todays_bat .tdcon  a { text-decoration:underline;}
#todays_bat .tdcon  a:hover {  text-decoration:none;}


/*top+author+title*/

#todays_tat { float:left; width:478px; overflow:hidden; height:210px;}
#todays_tat .tdcon{ position:absolute; height:52px; width:478px; left:0px; top: 0px; padding:0; margin:0; line-height:24px; }
#todays_tat .bgcon { position:absolute; height:52px; width:478px; left:0px; top: 0px; background-color:#333; filter:alpha(opacity=50); opacity:0.5;}
#todays_tat .tdcon .pic { width:47px; text-align:center; padding-left:10px; float:left; padding-top:5px; line-height:18px;}
#todays_tat .tdcon .text { padding-left:10px; width:455px; margin:0 auto; height:52px; line-height:18px; padding-right:10px;}
#todays_tat .tdcon .text h3 { line-height:24px; font-weight:700px; font-size:14px;}
#todays_tat .tdcon .text p { padding-top:2px;}

#todays_tat .tdcon .fh_title { clear:both; height:50px; width:130px; float:left; padding-top:6px;}
#todays_tat .tdcon .text_con { width:315px; padding-left:10px; float:left; padding-top:8px;}
#todays_tat .tdcon .author { line-height:18px; height:18px; padding-left:0px; text-align:left;}
#todays_tat .tdcon .photo { width:64px; height:64px; border:2px solid;}
#todays_tat .tdcon  a { text-decoration:underline;}
#todays_tat .tdcon  a:hover {  text-decoration:none;}




/*bottom+author+title+photo32*/

#todays_batp32 { float:left; width:478px; overflow:hidden; height:210px;}
#todays_batp32 .tdcon{ position:absolute; height:52px; width:478px; left:0px; top: 158px; padding:0; margin:0; line-height:24px; }
#todays_batp32 .bgcon { position:absolute; height:52px; width:478px; left:0px; top: 158px; background-color:#333; filter:alpha(opacity=50); opacity:0.5;}
#todays_batp32 .tdcon .pic { width:36px; text-align:center; padding-right:8px; float:left; padding-top:6px; line-height:18px;}
#todays_batp32 .tdcon .pic img { border:2px solid;}
#todays_batp32 .tdcon .text { padding-left:5px; width:460px; margin:0 auto; height:52px; line-height:18px; padding-right:10px;}
#todays_batp32 .tdcon .text h3 { line-height:24px; font-weight:700px; font-size:14px;}
#todays_batp32 .tdcon .text p { padding-top:2px;}
#todays_batp32 .tdcon .fh_title { height:50px; width:180px; float:left; padding-top:2px;}
#todays_batp32 .tdcon .title_con { width:135px; float:left; padding-top:2px;}
#todays_batp32 .tdcon .text_con { width:270px; padding-left:10px; float:left; padding-top:8px;}
#todays_batp32 .tdcon .author { line-height:18px; height:18px; padding-left:0px;}
#todays_batp32 .tdcon .photo { width:64px; height:64px; border:2px solid;}
#todays_batp32 .tdcon  a { text-decoration:underline;}
#todays_batp32 .tdcon  a:hover {  text-decoration:none;}



/*top+author+title+photo32*/
#todays_tatp32 { float:left; width:478px; overflow:hidden; height:210px;}
#todays_tatp32 .tdcon{ position:absolute; height:52px; width:478px; left:0px; top: 0px; padding:0; margin:0; line-height:24px; }
#todays_tatp32 .bgcon { position:absolute; height:52px; width:478px; left:0px; top: 0px; background-color:#333; filter:alpha(opacity=50); opacity:0.5;}
#todays_tatp32 .tdcon .pic { width:36px; text-align:center; padding-right:8px; float:left; padding-top:6px; line-height:18px;}
#todays_tatp32 .tdcon .pic img { border:2px solid;}
#todays_tatp32 .tdcon .text { padding-left:5px; width:460px; margin:0 auto; height:52px; line-height:18px; padding-right:10px;}
#todays_tatp32 .tdcon .text h3 { line-height:24px; font-weight:700px; font-size:14px;}
#todays_tatp32 .tdcon .text p { padding-top:2px;}
#todays_tatp32 .tdcon .fh_title { height:50px; width:180px; float:left; padding-top:2px;}
#todays_tatp32 .tdcon .title_con { width:135px; float:left; padding-top:2px;}
#todays_tatp32 .tdcon .text_con { width:270px; padding-left:10px; float:left; padding-top:8px;}
#todays_tatp32 .tdcon .author { line-height:18px; height:18px; padding-left:0px;}
#todays_tatp32 .tdcon .photo { width:64px; height:64px; border:2px solid;}
#todays_tatp32 .tdcon  a { text-decoration:underline;}
#todays_tatp32 .tdcon  a:hover {  text-decoration:none;}





/*right+author+title*/

#todays_rat { float:left; width:478px; overflow:hidden; height:210px;}
#todays_rat .tdcon{ position:absolute; height:210px; width:132px; right:0px; top: 0px; padding:0; margin:0; line-height:24px; }
#todays_rat .bgcon { position:absolute; height:210px; width:132px; right:0px; top: 0px; background-color:#333; filter:alpha(opacity=50); opacity:0.5;}
#todays_rat .tdcon .pic { width:36px; text-align:center; padding-right:8px; float:left; padding-top:0px; line-height:18px;}
#todays_rat .tdcon .pic img { border:2px solid;}
#todays_rat .tdcon .text { padding-left:10px; width:112px; margin:0 auto; height:200px; line-height:18px; padding-right:10px; padding-top:10px;}
#todays_rat .tdcon .text h3 { line-height:24px; font-weight:700px; font-size:14px;}
#todays_rat .tdcon .text p { padding-top:2px;}
#todays_rat .tdcon .fh_title { height:40px; width:112px; padding-top:0px; display:none;}
#todays_rat .tdcon .title_con { width:112px; float:left;}
#todays_rat .tdcon .text_con { width:110px; padding-left:2px; padding-top:0px;}
#todays_rat .tdcon .author { line-height:18px; height:18px; padding-left:5px; float:left;}
#todays_rat .tdcon .photo { width:64px; height:64px; border:2px solid;}
#todays_rat .tdcon  a { text-decoration:underline;}
#todays_rat .tdcon  a:hover {  text-decoration:none;}


/*right+author+title+photo32*/
#todays_ratp32 { float:left; width:478px; overflow:hidden; height:210px;}
#todays_ratp32 .tdcon{ position:absolute; height:210px; width:132px; right:0px; top: 0px; padding:0; margin:0; line-height:24px; }
#todays_ratp32 .bgcon { position:absolute; height:210px; width:132px; right:0px; top: 0px; background-color:#333; filter:alpha(opacity=50); opacity:0.5;}
#todays_ratp32 .tdcon .pic { width:36px; text-align:center; padding-right:8px; float:left; padding-top:0px; line-height:18px;}
#todays_ratp32 .tdcon .pic img { border:2px solid;}
#todays_ratp32 .tdcon .text { padding-left:10px; width:112px; margin:0 auto; height:200px; line-height:18px; padding-right:10px; padding-top:10px;}
#todays_ratp32 .tdcon .text h3 { line-height:24px; font-weight:700px; font-size:14px;}
#todays_ratp32 .tdcon .text p { padding-top:2px;}
#todays_ratp32 .tdcon .fh_title { height:40px; width:112px; padding-top:0px;}
#todays_ratp32 .tdcon .title_con { width:112px; float:left;}
#todays_ratp32 .tdcon .text_con { width:110px; padding-left:2px; padding-top:0px;}
#todays_ratp32 .tdcon .author { line-height:18px; height:18px; padding-left:5px; float:left;}
#todays_ratp32 .tdcon .photo { width:64px; height:64px; border:2px solid;}
#todays_ratp32 .tdcon  a { text-decoration:underline;}
#todays_ratp32 .tdcon  a:hover {  text-decoration:none;}




/*left+author+title+photo32*/
#todays_latp32 { float:left; width:478px; overflow:hidden; height:210px;}
#todays_latp32 .tdcon{ position:absolute; height:210px; width:132px; left:0px; top: 0px; padding:0; margin:0; line-height:24px; }
#todays_latp32 .bgcon { position:absolute; height:210px; width:132px; left:0px; top: 0px; background-color:#333; filter:alpha(opacity=50); opacity:0.5;}
#todays_latp32 .tdcon .pic { width:36px; text-align:center; padding-right:8px; float:left; padding-top:0px; line-height:18px;}
#todays_latp32 .tdcon .pic img { border:2px solid;}
#todays_latp32 .tdcon .text { padding-left:10px; width:112px; margin:0 auto; height:200px; line-height:18px; padding-right:10px; padding-top:10px;}
#todays_latp32 .tdcon .text h3 { line-height:24px; font-weight:700px; font-size:14px;}
#todays_latp32 .tdcon .text p { padding-top:2px;}
#todays_latp32 .tdcon .fh_title { height:40px; width:112px; padding-top:0px;}
#todays_latp32 .tdcon .title_con { width:112px; float:left;}
#todays_latp32 .tdcon .text_con { width:110px; padding-left:2px; padding-top:0px;}
#todays_latp32 .tdcon .author { line-height:18px; height:18px; padding-left:5px; float:left;}
#todays_latp32 .tdcon .photo { width:64px; height:64px; border:2px solid;}
#todays_latp32 .tdcon  a { text-decoration:underline;}
#todays_latp32 .tdcon  a:hover {  text-decoration:none;}



/*left+author+title*/
#todays_lat { float:left; width:478px; overflow:hidden; height:210px;}
#todays_lat .tdcon{ position:absolute; height:210px; width:132px; left:0px; top: 0px; padding:0; margin:0; line-height:24px; }
#todays_lat .bgcon { position:absolute; height:210px; width:132px; left:0px; top: 0px; background-color:#333; filter:alpha(opacity=50); opacity:0.5;}
#todays_lat .tdcon .pic { width:36px; text-align:center; padding-right:8px; float:left; padding-top:0px; line-height:18px;}
#todays_lat .tdcon .pic img { border:2px solid;}
#todays_lat .tdcon .text { padding-left:10px; width:112px; margin:0 auto; height:200px; line-height:18px; padding-right:10px; padding-top:10px;}
#todays_lat .tdcon .text h3 { line-height:24px; font-weight:700px; font-size:14px;}
#todays_lat .tdcon .text p { padding-top:2px;}
#todays_lat .tdcon .fh_title { height:40px; width:112px; padding-top:0px; display:none;}
#todays_lat .tdcon .title_con { width:112px; float:left;}
#todays_lat .tdcon .text_con { width:110px; padding-left:2px; padding-top:0px;}
#todays_lat .tdcon .author { line-height:18px; height:18px; padding-left:5px; float:left;}
#todays_lat .tdcon .photo { width:64px; height:64px; border:2px solid;}
#todays_lat .tdcon  a { text-decoration:underline;}
#todays_lat .tdcon  a:hover {  text-decoration:none;}